* {
  margin: 0;
  padding: 0;
}
/*
div {
  border: 1px solid black;
}
*/
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: 75px;
  margin-top: 10px;
}

#nav {
  display: flex;
  justify-content: space-between;
}

.flex_item {
  display: inline-flex;
  align-items: center;
}

li {
  display: inline-block;
  margin-right: 20px;
}

.flex_item p {
  text-align: center;
  color: MediumAquamarine;
}

a {
  color: black;
}

#content {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#large {
  width: 630px;
  margin-right: 35px;
}

#medium {
  width: 300px;
  margin-right: 35px;
}

#small {
  width: 240px;
  margin-right: 35px;
}

#main {
  display: flex;
  background-image: url('images/img-story-main.png');
  justify-content: flex-start;
  height: 300px;
}

#main p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

#sub {
  display: flex;
  background-image: url('images/img-story-2.png');
  justify-content: center;
  height: 300px;
}

#subtwo {
  display: flex;
  background-image: url('images/img-story-3.png');
  justify-content: center;
  height: 300px;
}

#subtwo p, #subthree p, #sub p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

#subthree {
  display: flex;
  background-image: url('images/img-story-1.png');
  justify-content: center;
  height: 300px;
}
